<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Browse Inventory", "Inventory", "Home")</li>
        <li>@Html.ActionLink("Browse By Author", "Author", "BrowseByAuthor")</li>
        <li>@Html.ActionLink("Browse By Publisher", "Publisher", "BrowseByPublisher")</li>
        <li>@Html.ActionLink("Browse By Location", "Location", "BrowseByLocation")</li>
        <li>@Html.ActionLink("Contact Management", "Management", "Home")</li>
    </ul>
</nav>

